# Python
__pycache__/
*.py[cod]
.pytest_cache/
venv/
env/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db